.face-recognition-container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;

  .face-recognition {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;

    .input-image {
      height: auto;
      width: 100%;
    }

    .bounding-box {
      position: absolute;
      box-shadow: 0 0 0 3px #149df2 inset;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      cursor: pointer;
    }
  }
  @media only screen and (max-width: 767px) {
    .face-recognition {
      width: 90%;
    }
  }
}
