.navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  z-index: 100;

  .navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .navbar-logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      .logo {
        height: 60px;
        width: auto;
      }
    }

    .navbar-username {
      margin-right: 20px;

      .username-text {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: white;
      }
    }
    .navbar-sign-out {
      .sign-out-button {
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        border: 1px solid #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #fff;
          color: #333;
          transform: scale(1.05);
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
